[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
mysql-connector-python = "==8.0.33"
requests = "==2.31.0"
cryptography = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.10"
